div{
    width: 400px;
    background-color: #eee;
    padding-left: 20px;
    outline: 5px solid #eee;
    margin: 20px auto;
}
.div4{
  border-left: 3px solid rgb(192, 37, 89);
  
}
.div5{
    visibility: hidden;
}
.div6{
   border-left: 3px solid rgb(7, 136, 125);
   
}