*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    color: white;
    background-color: #607d8b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom:4px solid black ;
}
div::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    width: 130px;
    height: 130px;
    transform:translate(-50%, -50%) rotate(-45deg) ;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
}

div::before{
    content: "Elzero";
   
    position: absolute;
    bottom:5px;
    left: 5px;

}