/*  Assignment One
div{
    display: inline-block;
    background-color: #eee;
    color:black;
    outline: 5px solid black;
    padding: 20px;
    margin: auto 30px;
}
.div1{
    border: 5px solid red;
}
.div2{
    border-color: blue green;
    border-width: 5px;
    border-style: solid;
}
.div3{
    border-style:dashed;
    border-width: 5px;
    border-color: red green blue yellow;
}*/

div{
    width: 400px;
    background-color: #eee;
    padding-left: 20px;
    outline: 5px solid #eee;
    margin: 20px auto;
}
.div4{
  border-left: 3px solid rgb(192, 37, 89);
  
}
.div5{
    visibility: hidden;
}
.div6{
   border-left: 3px solid rgb(7, 136, 125);
   
}

