
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Assignment One
div
{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 5px solid #e31d4b;
    border-top-color: transparent; 
    transform: rotate(45deg);
    animation-name: change;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
div:hover{
    animation-play-state: paused;
}

div::before {
    content: "";
    position: absolute;
    top: -17px;
    left: -17px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    
    border: 5px solid #059ae3;
     border-bottom-color: transparent; 
    margin: 5px;
}
div::after {
    content: "";
    position: absolute;
    top: -19px;
    left: -19px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 5px solid #ffc72ef6;
    border-left-color: transparent; 
}
@keyframes change{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}*/


/*
    Assignment Two
div
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    border: 5px solid #059ae3;
    border-bottom-color: transparent;
    animation-name: change-pos;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

div::before{
    content: "";
    position:absolute;
    width: 55px;
    height: 55px;
    top: -13px;
    left: -13px;
    border: 5px solid #ffc72ef6;
    border-radius: 50%;
    border-bottom-color:transparent ;
    animation-name:change-pos;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    animation-duration: 2s;

    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
div::after{
    content: "";
    position:absolute;
    top:-20px ;
    left: -20px;
    border: 5px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-bottom-color:transparent ;
    animation-name: change-pos;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes change-pos{
   
    to{
        transform: rotate(360deg);
    }
}
div:hover ,
div:hover::after , 
div:hover::before
{
    animation-play-state: running;
}*/


/*
    Assignmnet Three
span{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    background-color: rgba(207, 199, 199, 0.815);
    border-radius: 50%;
    border: 5px solid black ;
    border-right-color: transparent;
    animation-name: circle-oo;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;

}
@keyframes circle-oo{
    to{
        transform: rotate(360deg);
    }
}
*/

/*Assignment Four*/
.parent{
    display: flex;
    width: 300px;
    position: relative;
}
.div1{
    position: relative;
    width: 100px;
    height: 200px;
    border-left: 30px solid #1a1a1afd;
    background-color: white;
    border-top: 30px solid #1a1a1afd;
    border-bottom: 30px solid #1a1a1afd;
    display: flex;
    margin-left: 20px;
}
.div1::before{
    content: "";
    position: absolute;
    top: 55px;
    left: 0px;
    width: 70px;
    height: 30px;
    background-color: #1a1a1afd;
}
.div1::after{
    content: "";
    position: absolute;
    top: -25px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(233, 161, 54);
    animation-name: move_two;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.div2{
    width: 100px;
    height: 200px;
    position: absolute;
    right: 50px;
    border-left: 30px solid #1a1a1afd;
    border-bottom: 30px solid #1a1a1afd;
    align-items: flex-end;
    margin-right: 20px;
}
.div2::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 46px;
    width: 20px;
    height: 20px;
    background-color: rgb(233, 161, 54);
    animation-name: move;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-timing-function:linear;
    
}
@keyframes move{
    0%{
        transform: translate(-70px,0);
        opacity: 1;
      
    }
    40%{
        transform: translate(-70px,-170px);
        opacity: 1; 
    }
    80%{
        opacity: 0;
    
    }
    100%{
        transform: translate(-70px,-170px); 
        overflow: hidden; 
    }

  

}
@keyframes move_two{
    0%{
        transform: translate(0);
    }
    12.5%{
        transform: translate(-70px,0);
    }
    25%{
        transform: translate(-70px,85px);
    }
    37.5%{
        transform: translate(0,85px);
    }
    50%{
        transform: translate(-70px,85px);
    }
    62.5%{
        transform: translate(-70px,170px);
    }
    75%{
        transform: translate(0,170px);
    }
    87.5%{
        transform: translate(-70px,170px);
    }
    95%{
        transform: translate(-70px,0px);
    } 
    100%{
        transform: translate(0,);
    }
}