/*  Assignment One
h2{
    color: black;
    text-shadow:1px 1px 0px orangered, 1.8px 1.8px 0px rgb(7 154 199), 2.5px 2.5px 0px rgb(168 11 168);
}*/


/*Assignment three
p{
    text-align: center;
}
.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}
*/

/*Assignment Three
div{
    max-width: 400px;
    padding: 10px;
    background-color: #eee;
    margin: 10px;
}
.div2{
    white-space: nowrap;
    overflow: hidden;
}
.div3{
    white-space: nowrap;
     overflow: hidden;
    text-overflow: ellipsis;
}*/



a{
    display: block;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(10, 146, 146);
    border-bottom: 6px solid rgb(7, 107, 107);
    text-transform: capitalize;
    margin: auto;
    
}
