*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


div {
  width: 600px;
  text-align: center;
  margin: 20px auto ;
  position: relative; 
  font-weight: bold;
  background-color: #eee;
  padding: 20px;
  font-size: 20px;
  border-left:5px solid #d43232; 
  border-right:5px solid #a50be2 ;

}


div:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #d43232 20%,
        #23c6cc 20%,
        #23c6cc 40%,
        #0aaf25 40%,
        #0aaf25 60%,
        #e9216d 60%,
        #e9216d 80%,
        #a50be2 80%, 
        #a50be2 100% 
        );
}
div:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #e72828 20%,
        #23c6cc 20%,
        #23c6cc 40%,
        #0aaf25 40%,
        #0aaf25 60%,
        #e9216d 60%,
        #e9216d 80%,
        #a50be2 80%,
        #a50be2 100%
      )
       ;
  
}

div::first-letter{
    color:#e72828  ;
}




/* Assignment Two
div{
    position: relative;
   
}
input{
  
   margin:20px auto;
   background-color: rgb(240, 240, 240);
   border: none;
   outline: none;
   display: block;
   width: 600px;
   padding: 20px;

}
.div1::after,
.div2::after,
.div3::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 164px;
    width: 64.6%;
    height: 2px;
    background-image: linear-gradient(
        to right,
        #d33939 0%,
        #d33939 50%,
        #16d199 50%,
        #16d199 100%);
}
.div1 input{
    caret-color: red;

}
.div2 input, 
.div3 input{
   opacity: .7;
}
*/