
/* This need to review because of center tests horizintal*/
/*Assignment One
div{
    width:300px;
    font-weight:bold;
    height: 60px;
}
.div1{
    background-color: rgb(240, 232, 232);
    text-align: center;
    
    position: relative;
    left: 41%;
    margin-bottom: 20px;
}
.div2{
    background-color: red;
    text-align: center;
    position:relative;
    left: 41%;
    margin-bottom: 20px;
}
.div3{
    background-color:rgb(240, 232, 232);
    text-align: center;
    position: relative;
    
    left:41%;
    right: 50px;
    margin-bottom: 20px;
    
}*/



/* Assignment Two
div{
    background-color: #ccc;
    width:(100%-200px);
    position: absolute;
    left: 40%;
    padding: 10px;

}
div::before{
    content: "1";
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: -11px;
    bottom: 4px;
    background-color: red;
    color: white;
    width: 3px;
    height: 13px;
    padding: 8px;
}*/


/*Assignment Three
p {
    border-left: 5px solid rgb(221 35 91);
    margin-bottom: 10px;
    padding: 14px;
    text-align: center;
    background-color: rgb(229, 226, 226);
    width: fit-content;
    position: relative;
    left: 150px;
}
[data-person="Osama"]::before{
  content: attr(data-person);
   background-color: rgb(229, 226, 226);
   position: absolute;
   left: -100px;
   top: 3px;
   width: 50px;
   padding: 10px;
}

[data-person="Ahmed"]::before{
  content: attr(data-person);
   background-color: rgb(229, 226, 226);
   position: absolute;
   left: -100px;
   top: 3px;
   width: 50px;
   padding: 10px;
}

[data-person="Sayed"]::before{
  content: attr(data-person);
   background-color: rgb(229, 226, 226);
   position: absolute;
   left: -100px;
   top: 3px;
   width: 50px;
   padding: 10px;
}
p::after{
    content: "";
    position: absolute;
    left: -24px;
    top: 10px;
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 9px solid transparent;
    border-right: 10px solid rgb(221 35 91);
}*/
 




/*Assignment Three
.parent {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .one {
    background-color: #eee;
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;
  }
  .one::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0px;
    top: 0;
    background-color: #009688;
  }
  .one::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    background-color: white;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #009688 transparent transparent;
  }
  .user {
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
  }*/
  

  /*  Assignment Four
  p{
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin-left: 27px;
    position: relative;
  }
  p::after{
    content: "";
    position: absolute;
    right: 0px;
    margin-top: -9px;
    width: 5px;
    height: 37px;
    border-right: 5px solid rgb(228, 74, 54);
}

  #p1::before{
      content: "1";
      position: absolute;
      left: -27px;
      width: 30px;
      top: 6px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      margin-top: -6px;
      text-align:center;
      color: white;
      background-color:rgb(228, 74, 54);
  }
  #p2::before{
      content: "2";
      position: absolute;
      left:-27px;
      width: 30px;
      top:6px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      margin-top: -6px;
      text-align: center;
      color: white;
      background-color:rgb(228, 74, 54) ;


  }
  #p3::before{
      content: "3";
      position: absolute;
      left:-27px;
      width: 30px;
      top: 6px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      margin-top: -6px;
      text-align: center;
      color: white;
      background-color:rgb(228, 74, 54) ;


  }
  #p4::before{
      content: "4";
      position: absolute;
      left:-27px;
      width: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      top: 6px;
      font-weight: bold;
      margin-top: -6px;
      text-align: center;
      color: white;
      background-color:rgb(228, 74, 54) ;

  }
  
  #p5::before{
      content: "5";
      position: absolute;
      left:-27px;
      width: 30px;
      top: 6px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      margin-top: -6px;
      text-align: center;
      color: white;
      background-color:rgb(228, 74, 54) ;


  }
  #p6::before{
      content: "6";
      position: absolute;
      left:-27px;
      width: 30px;
      top: 6px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      margin-top: -6px;
      text-align: center;
      color: white;
      background-color:rgb(228, 74, 54);
  }*/
