*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: auto;
    grid-template-rows:repeat(6,1fr);
    grid-template-columns: repeat(12,1fr);
    gap:10px 10px;
    justify-content: space-evenly;
  }
  .grid div{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(63, 189, 228);
      color:white;
  }
  
.one{
    grid-column:1/13;
    grid-row:6/7;
}

.two{
   grid-column: 1/9;
   grid-row: 2/3;
}
.three{
    grid-column: 9/13;
    grid-row: 2/3;
}

.four{
    grid-column: 1/5;
    grid-row: 3/4;
}
.five{
   grid-column: 5/13;
   grid-row: 3/6;
}
.six{
    grid-column: 1/5;
    grid-row:4/5;
}
.seven{
    grid-column: 1/5;
    grid-row: 5/6;
}

.eight{
    grid-column: 1/13;
    grid-row: 1/2;
}