*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width:1200px){
    .parent{
        display: flex;
        justify-content: space-evenly;
        text-align: center;

    }
    .parent div{
        background-color: #eee;
        padding: 5px;
        width: calc(90% /4);

    }
    .parent h3{
        color:#66bfbf;
        font-weight: bold;
    }
}


/* Medium Screen*/
@media (min-width: 992px) and (max-width: 1999px){
    .parent{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;

    }
    .parent div{
        background-color: #eee;
        padding: 5px;
        width: calc(90% / 2);
        margin-bottom: 10px;
        font-size: 20px;

    }
    .parent h3 {
        color:#eb2632;
        font-weight: bold;
    }
}



/*  Mobile Screen*/
@media (max-width:991px){
    .parent{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;

    }
    .parent div{
        background-color: #eee;
        padding: 5px;
        width: 600px;
        margin-bottom: 10px;
        font-size: 20px;

    }
    .parent h3 {
        color:black;
        font-weight: bold;
    }
}
