*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width:1000px) and (max-width:1400px){
    .parent{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
    .parent div{
        background-color: #eee;
        margin-bottom: 10px;
    }
    .one , .four {
        width: 92%;
    }
    .two , .three {
        width:calc(88% /2);
    }
   
    .parent h3 {
        color:#66bfbf;
        font-weight: bold;
    }
}



   /* A Madium Screen*/
 @media(min-width: 768px) and (max-width:992px)
 {
    .parent{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;

    }
    .parent div{
        background-color: #eee;
        margin-bottom: 10px;
    }
    .one  {
        width: 100%;
    }
    .two , 
    .three,
    .four{
        width: calc( 99% / 3 );
    }
   
    .parent h3 {
        color:#eb2632;
        font-weight: bold;
    }
}



@media  (max-width:767px ) {
    .parent{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
    .parent div{
        background-color: #eee;
        margin-bottom: 10px;
    }
    .one ,.two , .three  , .four {
        width: 100%;
    }
   
    .parent h3 {
        color:black;
        font-weight: bold;
    }
}