div{
    width: 500px;
    padding: 20px;
    margin: 10px auto;
    background-color:rgb(138, 43, 226);
    background-color:#8a2be2;
    background-color:hsl(271, 76%, 53%);
    color: white;
    
    
}
.assign-1-shape-2{
    opacity: .5;
}
.assign-1-shape-3{
    opacity: .1;
}